{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block
title %} {% if add_comment %} Add Comment {% else %} Edit Comment {% endif %} {%
endblock %} {% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
          {% if add_comment %}
          <h1>Add Comment</h1>
          {% else %}
          <h1>Edit Comment</h1>
          {% endif %}
          <br />
          {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
